*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

    body{
        margin: 10px;
        padding-bottom: 100px;
        text-align: center;
        background-color:#A9957B ;
        overflow: hidden;
        margin-left: 35%;
      
        
    }

    .container{
      position: relative;
      max-width: 420px;
      width: 500px;
      border-radius: 11px;
      padding: 10px 20px 20px;
      background: #bfac94;
      box-shadow: 3px 2px 3px 4px;
      outline: none;
      height: 50%;
     
    }

    .screen{
        width: 380px;
        height: 100px;
        background-color:beige;
        border: none;
        margin-bottom: 8px;
        text-align: end;
        color: black;
        font-size: 20px;
        border-style: none;
        border-color: beige;
        margin-top: 8px;
        pointer-events: none;
    }

    .buttons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 8px;
        
    }

    .buttons button{
        width: 80px;
        height:55px ;
        font-size: 25px;
        border-radius:10%;
        margin:5px;
        background-color:burlywood ;
        color: rgb(0, 0, 0);
        border-style:hidden;
        cursor: pointer;
      
    }

    .buttons button:active{
        transform: scale(0.8);
    
    }

    button.operator {
        background-color: bisque;
     }

   